* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-wrapper, .row {
  display: flex;
}

.grid-wrapper {
  width: 1000px;
  height: 1000px;
  flex-direction: column;
}

.row, .col {
  flex: 1;
}